@import "tailwindcss";

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-Bold-BF6438cc577b524.woff") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-outfit: var(--font-outfit);
  --font-nohemi: "Nohemi", sans-serif;
  --color-primary: #1da077;

  --animate-card: card 2s ease-in-out infinite;

  @keyframes card {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(16px);
    }
  }
}

body {
  font-family: var(--font-outfit);
}
